.side-bar {
  position: fixed;
  height: 100%;
  width: $side-nav-width;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: $primary-color;
  display: flex;
  flex-direction: column;

  h2 {
    margin-bottom: 0px;
  }

  .side-nav {
    list-style-type: none;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
    overflow: auto;
    display: block;
    flex-grow: 1;

    &-item a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: map-deep-get($text-styles, 'navigation', 'font-family');
      font-size: map-deep-get($text-styles, 'navigation', 'font-size');
      color: #FFF;
      border-bottom: 1px solid $background-color;
      padding: 10px 5px;
      margin: 0px 22px;
      cursor: pointer;

      &:hover {
        color: darken($primary-color, 50%);
        cursor: pointer;
      }
    }

    .drop-down {
      list-style-type: none;
      background-color: #FFF;
      margin: 0px 22px;
      padding: 0px;
      border-radius: 1px;

      &.show li{
        transition: font-size .25s,
        margin .25s,
        padding .25s,
        opacity .5s .25s;
      }

      &.hide li{
        font-size: 0;
        margin: 0;
        opacity: 0;
        padding: 0;
        transition: opacity .25s,
        font-size .5s .25s,
        margin .5s .25s,
        padding .5s .25s;
      }

      & li {
        padding: 8px 15px;
        color: $primary-color;
      }
    }

    &-item.active a {
      color: darken($primary-color, 50%);
      border: none;
    }

    &-item:last-child a {
      border: none;
    }

    &-item a .text{
      vertical-align: middle;
    }
  }

  .user-panel {
    color: darken($primary-color, 50%);
    text-align: center;
    margin-top: 20px;


    .material-icons {
      font-size: 100px;
    }
  }

  .logout-panel {
    text-align: center;
    color: darken($primary-color, 50%);
    margin: 20px;

    & a {
      font-size: 1.25em;
    }

    & a:hover {
      cursor: pointer;
      color: darken($primary-color, 30%);
    }
  }
}
