.DS_Store

node_modules
server/server_modules/config.json
app/js/local_storage/salt
app/js/local_storage/encryptedPrivateKey
app/release-builds
app/dist
app/public/css
app/release-build
*.log
server/distribution/*
!server/distribution/.keepme
server/tests/integrations_tests/tmp/*
