.alert {
  padding: 15px;
  margin: 10px 0px;
  border-radius: 1px;
  position: relative;
  color: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15), 0 0 2px rgba(0, 0, 0, 0.11);

  .material-icons {
    font-size: 15px;
    display: inline-block;
    margin-right: 10px;
  }

  &-danger {
    background-color: $red;
  }

  &-warning {
    background-color: darken($yellow, 10%);
  }

  &-success {
    background-color: $green;
  }
}
