.alert {
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 1px;
  position: relative;
  color: #FFF;

  .material-icons {
    font-size: 15px;
    display: inline-block;
    margin-right: 10px;
  }

  &-warning {
    background-color: $warning;
  }

  &-success {
    background-color: $success;
  }

}
