$btn-color: #FFF;

button {
  display: inline-block;
  padding: 10px 15px;
  background: $primary-color;
  color: $btn-color;
  font-size: 1em;
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
  font-family: map-deep-get($text-styles, 'text', 'font-family');
  font-size: map-deep-get($text-styles, 'text', 'font-size');
  text-transform: uppercase;
  border-radius: 1px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;

  &.round {
    border-radius: 50%;
    padding: 20px;
  }

  &:hover {
    background: lighten($primary-color, 5%);
    color: lighten($btn-color, 15%);
  }

  &:active, &:focus {
    outline: 0;
    background: lighten($primary-color, 5%);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
  }

  .large {
    padding: 12px 28px;
  }

  &.block {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 5px;
  }
}
