$btn-color: #FFF;

.btn {
  display: inline-block;
  padding: 6px 14px;
  background: $primary-color;
  border-radius: 2px;
  color: $btn-color;
  font-size: 1em;
  text-decoration: none;
  box-sizing: border-box;

  &:hover {
    background: lighten($primary-color, 5%);
    color: lighten($btn-color, 15%);
  }

  &.btn-large {
    padding: 12px 28px;
  }

  &.btn-block {
    display: block;
    width: 100%;
    text-align: center;
  }
}
