.download-manager {
  width: 280px;
  height: 100%;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 51px;
  padding: initial;
  transition: all 0.4s ease-in-out;
  transform: translateX(0);

  &.hide {
    transform: translateX(100%);
  }

  h2 {
    padding: 10px;
    background: $grey;
    margin: 0;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  span.clear-all {
    position: absolute;
    top: 12px;
    right: 10px;
    color: darken($grey, 25%);
    cursor: pointer;
  }

  li {
    padding: 0 40px 0 10px;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;

    &:hover {
      background: lighten($grey, 2%);
    }
  }

  .status {
    span.complete {
      color: $green;
    }

    span.error {
      color: $red;
    }

    span.downloading {
      color: $primary-color;
    }

    .delimiter {
      width: 1px;
      display: inline-block;
      margin: 0 5px;
      background: darken($grey, 10%);
      height: 15px;
      vertical-align: middle;
    }
  }

  .attachment-link {
    cursor: pointer;
    color: darken($grey, 20%);

    &:hover {
      color: darken($grey, 30%);
    }
  }

  .attachment-name {
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 1px;
  }

  button.small {
    position: absolute;
    right: 6px;
    background: darken($grey, 10%);
  }

  .progress-bar {
    height: 5px;
    position: relative;
    border-radius: 15px;
    border: 1px solid $grey;
    .bar {
      width: 0;
      height: 100%;
      border-radius: 15px;
      position: absolute;
      background: $green;
      transition: width 0.2s ease-out;

      &.error {
        background: $red;
      }
    }
  }
}
