input {
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid $background-color;
  outline: 0px;
  font-size: map-deep-get($text-styles, 'text', 'font-size');
  font-family: map-deep-get($text-styles, 'text', 'font-family');
  color: map-deep-get($text-styles, 'text', 'color');
  margin: 10px 0px;
  background-color: #FFF;

  &:focus {
    border-bottom: 1px solid $primary-color;
  }

  &.input-block {
    display: block;
    width: 100%;
  }
}

textarea {
  width: 100%;
  box-sizing: border-box;
  display: block;
  border: 1px solid $background-color;
  outline: 0px;
  background-color: #FFF;
  height: 10em;
  margin: 5px 0px;
  resize: vertical;
  font-size: map-deep-get($text-styles, 'text', 'font-size');
  font-family: map-deep-get($text-styles, 'text', 'font-family');
  color: map-deep-get($text-styles, 'text', 'color');

  &:focus {
    border: 1px solid $primary-color;
  }
}

.input-bar {
  display: flex;
  margin-bottom: 5px;

  input {
    flex-grow: 1;
    margin: 0px 5px 0px 0px;
    min-width: 0px;
    overflow: hidden;
  }
}

label {
  color: darken($primary-color, 50%);
}
