.user-list {
  width: 50%;
  color: $charcoal;

  & .organization-users {
    padding: 5px 20px;

    & > .user {
      display: flex;
      padding: 5px 0px;
      border-bottom: 1px solid $grey;
      align-items: center;

      & span {
        flex-grow: 1;
      }

      & > .email {
        width: 30%;
      }

      & > .role,
      .pending {
        width: 10%;
      }

      & > .pending {
        color: lighten($charcoal, 10%);
        font-style: italic;
      }

      & > .reinvite,
      .delete {
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover {
          color: lighten($charcoal, 20%);
        }

        & > i {
          margin-right: 5px;
          font-size: 22px;
        }
      }

      & > .reinvite {
        & > i {
          color: $primary-color;
        }

        &:hover {
          & > i {
            color: lighten($primary-color, 10%);
          }
        }
      }

      & > .delete {
        & > i {
          color: $red;
        }
        &:hover {
          & > i {
            color: lighten($red, 10%);
          }
        }
      }
    }

    & > .user:last-child {
      border: 0;
    }
  }
}
