.modal {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;

  .close {
    position: absolute;
    top: -30px;
    right: -30px;
  }

  &-inner {
    display: inline-block;
    position: relative;
    max-height: 80vh;
    max-width: 80vh;

    h3 {
      text-align: center;
      padding: 5px;
      color: #EEE;
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.15), 0 0 2px rgba(0, 0, 0, 0.11);
    }

    img {
      display: block;
      max-width: 80vh;
      max-height: 80vh;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15), 0 0 2px rgba(0, 0, 0, 0.11);
    }
  }
}

.doc-mode {
  .modal-inner {
    @extend .box;
    padding: 0px;
    height: 100%;
    margin: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    .text {
      overflow-y: scroll;
      max-height: 100%;

      p {
        margin-top: 0px;
      }
    }

    h2 {
      margin: 0px;
      padding: 0px;
    }
  }
}
