.private-key {
  @extend .box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 270px;
  margin: 10px auto 30px auto;

  h4 {
    color: $primary-color;
    display: flex;
    align-items: center;

    i {
      color: $green;
      margin-left: 5px;
      font-size: 16px;
    }
  }
}
