.device-list {
  padding: 5px 1.3em;
  .device {
    display: flex;

    input {
      width: 45%;
    }

    span {
      display: flex;
      flex-grow: 1;
      align-items: center;
      padding: 10px 0px;

      input {
        margin: 0;
      }

      &.pending {
        color: lighten($charcoal, 30%);
      }

      &.id {
        width: 50%;
      }

      &.name {
        width: 45%;

        .material-icons {
          font-size: 20px;
          cursor: pointer;
          margin-left: 20px;
          color: $primary-color;
          padding: 0;
          flex-grow: 0;
        }
      }

      &.icon {
        width: 5%;
        justify-content: flex-end;

        .material-icons {
          font-size: 20px;
          color: $red;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }
}

.big-button-container {
  display: flex;
  flex-direction: row;

  .big-button {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    width: 30vh;
    height: 30vh;
    margin: 20px;
    font-size: 2vw;
    flex-direction: column;
    overflow: hidden;

    .material-icons {
      font-size: 12vw;
    }
  }
}
