.input-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  & input {
    flex-grow: 1;
  }

  &.warning div.arrow_box {
    display: flex;
  }

  &.warning input {
    border-bottom: 1px solid $warning;
  }

  &.warning textarea {
    border: 1px solid $warning;
  }
}

.document {
  display: flex;
}

.side-panel {
  width: 20%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;

  & input {
    flex-grow: 1;
  }

  .tag {
    padding: 10px 0px;

    &-item {
      background-color: $background-color;
      display: inline-flex;
      align-items: center;
      padding: 5px;
      margin-right: 5px;
      margin-bottom: 5px;
      border-radius: 16px;

      span {
        padding: 5px;
        word-break: break-all;
      }

      .material-icons {
        font-size: 16px;
        cursor: pointer;
        background-color: $primary-color;
        color: #FFF;
        border-radius: 50%;
        padding: 5px;
      }
    }
  }
}

.main-panel {
  flex-grow: 1;
}
