.input-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  & input {
    flex-grow: 1;
  }

  &.warning div.arrow_box {
    display: flex;
  }

  &.warning input {
    border-bottom: 1px solid $warning;
  }

  &.warning textarea {
    border: 1px solid $warning;
  }
}

.document {
  display: flex;
}

.side-panel {
  width: 20%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;

  & input {
    flex-grow: 1;
  }

  .tag {
    padding: 10px 0px;

    &-item {
      background-color: $background-color;
      display: inline-flex;
      align-items: center;
      padding: 5px;
      margin-right: 5px;
      margin-bottom: 5px;
      border-radius: 16px;

      span {
        padding: 5px;
        word-break: break-all;
      }

      .material-icons {
        font-size: 16px;
        cursor: pointer;
        background-color: $primary-color;
        color: #FFF;
        border-radius: 50%;
        padding: 5px;
      }
    }
  }
}

.main-panel {
  flex-grow: 1;

  label {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .material-icons {
      color: $primary-color;
      cursor: pointer;
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}

.tag-dropdown {
  position: relative;
}

.tag-suggestions {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.tag-inner {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15), 0 0 2px rgba(0, 0, 0, 0.11);
  margin-bottom: 10px;

  & div {
    padding: 10px;
    background-color: #FFF;
    border-bottom: 1px solid $background-color;
    word-wrap: break-word;
  }

  & div:last-child {
    border-bottom: none;
  }

  & div:hover, & div:focus, .active {
    background-color: $background-color;
    cursor: pointer;
    outline: 0;
  }
}

.dropdown-wrapper {
  position: absolute;
  left: 0;
  right: 0;
}

.bottom-panel {
  position: relative;
  text-align: center;
  margin-bottom: 10px;
}

.dropdown {
  list-style-type: none;
  background-color: #FFF;
  margin: 10px;
  padding: 0px;
  border-radius: 1px;
  text-align: left;
  display: inline-block;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15), 0 0 2px rgba(0, 0, 0, 0.11);

  &.show li{
    opacity: 1;
    font-size: inherit;
    padding: 10px 15px 10px 10px;
    color: $text-color;
    border-bottom: 1px solid $background-color;
    display: flex;
    align-items: center;
    transition: font-size .25s,
    padding .25s,
    opacity .5s .25s;

    .material-icons {
      color: $primary-color;
      margin-right: 10px;
      font-size: 24px;
      opacity: 1;
    }
  }

  & li {
    font-size: 0;
    opacity: 0;
    padding: 0;

    .material-icons {
      color: $primary-color;
      margin: 0;
      opacity: 0;
      font-size: 0;
    }
  }

  & li:hover {
    background-color: $background-color;
    cursor: pointer;
  }

  & li:last-child {
    border-bottom: none;
  }
}
