.login-panel {
  display: block;

  & div {
    padding: 5px;
    margin-bottom: 5px;
  }

  & div:hover {
    background-color: $background-color;
    cursor: pointer;
  }

  & div:focus {
    background-color: $background-color;
    outline: 0;
  }

  &.hide {
    display: none;
  }
}
