.access {
  &-table {
    @extend .box;
    display: table;
    width: 100%;
  }

  &-header {
    font-weight: bold;
    display: table-row;
  }

  &-row {
    display: table-row;
  }

  &-cell {
    display: table-cell;
  }
}
