.left {
  width: 35%;
  padding: 20px;
  padding-top: 0px;
  height: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
}

.right {
  width: 0px;
  flex-grow: 1;
  padding: 20px;
  height: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
}

.pagination {
  margin: 10px 0px;

  & button {
    margin: 5px;

    &:first-child {
      margin-left: 0px;
    }

    &:last-child {
      margin-right: 0px;
    }

    &.focused {
      background-color: lighten($primary-color, 5%);
      color: lighten($btn-color, 15%);
    }
    .material-icons {
      font-size: map-deep-get($text-styles, 'text', 'font-size');
      font-weight: bold;
    }
  }
}

.doc-button {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 5%;
}

.search-item {
  @extend .box;
  cursor: pointer;

  .highlight {
    background-color: lighten($primary-color, 10%);
    padding: 0px 5px;
  }

  .tag {
    background-color: $background-color;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 16px;
    display: inline-block;
    word-break: break-all;
  }
}

.search-result-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .search-item {
    width: 32%;
  }
}

.search-result {
  display: block;

  .search-item {
    width: 100%;
  }
}

.misc {
  @extend .box;
  display: flex;
  align-items: flex-start;

  .input-field {
    flex-grow: 1;
  }
  .attachments {
    width: 25%;

    .material-icons {
      color: $primary-color;
    }
  }
}

.alert-boxes {
  width: percentage(10/12);
  margin-left: percentage(1/12);
  padding-top: 10px;
}

.edit {
  position: relative;
  float: right;
  border-radius: 50%;
  background-color: $primary-color;

  &:hover {
    background-color: lighten($primary-color, 5%);
  }

  .material-icons {
    font-size: 18px;
    color: #FFF;
    padding: 5px;
  }
}
