.left {
  width: 50%;
  resize: horizontal;
  display: inline-block;
}

.right {
  display: inline-block;
}

.pagination {
  margin: 10px 0px;

  & button {
    margin: 5px;

    &:first-child {
      margin-left: 0px;
    }

    &:last-child {
      margin-right: 0px;
    }

    &.focused {
      background-color: lighten($primary-color, 5%);
      color: lighten($btn-color, 15%);
    }
    .material-icons {
      font-size: map-deep-get($text-styles, 'text', 'font-size');
      font-weight: bold;
    }
  }
}

.doc-button {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 5%;
}

.search-item {
  @extend .box;
  cursor: pointer;

  .highlight {
    background-color: lighten($primary-color, 10%);
    padding: 0px 5px;
  }

  .tag {
    background-color: $background-color;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 16px;
    display: inline-block;
    word-break: break-all;
  }
}

.search-result-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .search-item {
    width: 32%;
  }
}

.search-result {
  display: block;

  .search-item {
    width: 100%;
  }
}
