.wrapper {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $background-color;
}

.container-fluid {
  margin-left: $side-nav-width;
  height: 100%;
  overflow-y: scroll;

  &.center-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    .alert {
      position: absolute;
      top: 0px;
      width: percentage(10/12);
      margin-top: 15px;
    }
  }

  &.center {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.inner-container {
  width: percentage(10/12);
  margin-left: percentage(1/12);
  padding-top: 10px;
  padding-bottom: 10px;
}

.inner-container-big {
  display: flex;
  box-sizing: border-box;
  height: 100%;
}
