.side-nav {
  position: fixed;
  height: 100%;
  width: $side-nav-width;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding-top: 50px;
  background: $primary-color;

  &-item {
    display: block;
    font-family: 'Roboto Condensed', 'Arial', sans-serif;
    font-size: 18px;
    padding: 15px 0 15px 20px;
    color: #FFF;

    &:hover {
      background-color: lighten($primary-color, 5%);
      cursor: pointer;
    }
  }
}

.drop-down {
  display: block;
  border-bottom: 1px solid #000;

  .items {
    height: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out;

    &.show {
      height: 40px;
      opacity: 1;
    }
  }
}

.drop-down:last-child {
  border-bottom: none;
}

.sub-menu-hidden {
  display: none;
}

.sub-menu-show {
  display: show;
}
