.splash-screen {
  position: fixed;
  width: 100vw;
  height: 0vh;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  pointer-events: all;
  opacity: 1;
  transition: all 0.4s ease-in-out;

  &.hide {
    opacity: 0;
    pointer-events: none;
  }

  .inner {
    width: 200px;

    img {
      width: 100%;
    }
  }
}
