.tags {
  padding: 15px;

  .tag {
    background-color: $grey;
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    border-radius: 16px;
  }
}
