$primary-color: #A7DBD8;
$secondary-color: #8BCBDE;
$tertiary: #fc6e51;
$quaternary: #48cfad;


$background-color: #f7f7f7;

$side-nav-width: 225px;

$text-color: #3e3e3e;
$header-color: #444;
$font-size: 14+0px;
