$primary-color: #118AB2;
$green: #0CCE6B;
$red: #FE4A49;
$pink: #FF5964;
$yellow: #FFE74C;
$grey: #F5F3F3;
$charcoal: #3c3c3c;

$safe-green: #209061;

$white: #FFF;
$background-color: #FAFAFA;
$header-height: 50px;
$side-nav-width: 225px;

$text-color: #363537;
$header-color: #444;
$font-size: 14+0px;
